.address__flex-wrapper {
  padding: 26px 20px;
  display: flex;
  background: $color-basic-grey;
}

.address__title {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-light-black;
}

.address__link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-grey;
}

.address__image {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .address__image {
    width: 100%;
    height: 400px;
  }

  .address__flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 56px 70px;
    background: $color-white;
  }

  .address__title {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    padding-right: 150px;
  }

  .address__link {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding-left: 150px;
  }

  .address-wrapper-catalog {
    background: $color-basic-grey;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
  }

  .address__flex-wrapper {
    padding: 56px 80px;
    max-width: 565px;
    position: absolute;
    top: 46px;
    left: 110px;
  }

  .address__title {
    padding-right: 43px;
  }

  .address__link {
    text-align: left;
    padding-left: 43px;
  }
}

