.catalog__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 11px 18px 14px 20px;
  margin: 8px 0 11px;
  border-bottom: 1px solid $color-border-catalog;
}

.card__wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__link-image {
  padding: 0 28px;
}

.card__link {
  display: inline-block;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-decoration: none;
}

.card__link-title {
  margin: 0;
  padding: 0;
  padding-right: 66px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-dark-grey-2;
}

.card__list-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-dark-grey;
}

.card__button {
  grid-column: 1/3;
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .catalog__card {
    display: flex;
    flex-direction: column;
    padding: 8px 36px 39px;
    margin: 0;
    border-bottom: none;
    background: linear-gradient(to bottom, $color-white 81px, $color-basic-grey  100%);
  }

  .card__wrapper-image {
    height: 200px;
    margin-bottom: 34px;
    align-items: flex-start;
  }

  .card__link-image {
    padding: 0;
  }

  .card__link {
    margin-bottom: 21px;
  }

  .card__link-title {
    padding-left: 42px;
    padding-right: 36px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card__list-description {
    font-size: 16px;
    line-height: 16px;
  }

  .card__button {
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__card {
    display: flex;
    flex-direction: column;
    padding: 0 30px 40px 35px;
  }

  .card__wrapper-image {
    width: 172px;
    height: 196px;
    margin-bottom: 46px;
  }

  .card__link-title {
    padding-left: 20px;
    padding-right: 15px;
    line-height: 21px;
  }
}

