.catalog {
  margin: 0;
  padding: 27px 0 25px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  margin: 0;
  padding: 0 20px 41px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.catalog__card {
  margin: 0;
  margin-top: 8px;
  padding: 11px 18px 14px 20px;
  border-top: 1px solid #ebebeb;
}

/*
li:last-child {
  padding-bottom: 0;
}*/
