$color-white: #ffffff;
$color-dark-grey: #444444;
$color-dark-grey-2: #222222;
$color-basic-green: #68b738;
$color-green-hover: #5eaa2f;
$color-black: #000000;
$color-light-black: #111111;
$color-basic-grey: #f2f2f2;
$color-grey: #eaeaea;
$color-border-grey: #d9d9d9;
$color-border-light: #e6e6e6;
$color-special-grey: #dcdcdc;

//*Viewports
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

//*Fonts
$primary-font-family: "Oswald Regular", sans-serif;
$secondary-font-family: "Oswald Medium", sans-serif;
$third-font-family: "Arial", sans-serif;

